@keyframes square_rotation {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(345deg);
  }
}


.header__square-pic_animation {
  animation: square_rotation linear 20s infinite;
}
