@import url('./__brief/two-columns__brief.css');
@import url('./__main-text/two-columns__main-text.css');
@import url('./__paragraph/two-columns__paragraph.css');
@import url('./__span-sccent/two-columns__span-sccent.css');
@import url('./_zero_bottom/two-columns_zero_bottom.css');

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 100px;
  margin: 100px auto;
}


